/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */




/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
    /* Add your Desktop Styles here */
  
  }
  
  
  
  /*
  Mobile Styles
  ================================================== */
  /* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */
  
  @media only screen and (max-width: 767px) {
    /* Add your Mobile Styles here */
  
  }
  .html_header_top{
      &.html_header_sticky{
        #main{
            padding-top:0 !important;
        }
        #header{
            background-color: transparent;
            #header_main{
                background-color: transparent;
                border-bottom: none;
            }
            .header_bg{
                background-color: transparent;
            }
        }
      }
  }
  .block_wrap{
    .container{
      .content{
        margin-right: 0;
        border-right: none !important;

      }
    }
    &.index_fir_wrap{
        .container{
            .content{
                padding-top:320px;
            }
        }
    }
  }
